/*Fonte Poppins
Título com 24px, negrito e com margem inferior de 20px
Os dois primeiros parágrafos ficam lado a lado, com uma distância entre si de 10px, e o terceiro embaixo
Os parágrafos possuem fonte 14px e peso de 400
Todos os textos deverão ter a cor #2b2b2a*/

.conteiner{
    color: #2b2b2a;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

}
.paragrafoDual{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}
.p1{
    margin-left: 10px;
    font-size: 14px;
}

.conteinerdark{
    background-color: black;
    color: white;
}
